In [23]:
import glob
import os

import pandas as pd
import dask.dataframe as dd
import dask.multiprocessing
import dask.threaded
from dask.diagnostics import ProgressBar
ProgressBar().register()

from timeit import default_timer as timer
start = timer()

In [24]:
# considerando que as as bases de 2005 até 2020 são fixas
# vamos criar um único dataframe com esse período
df = dd.read_csv('csv/2005_2020/inf_diario_fi_*.csv', sep=";")
df

Dask DataFrame Structure:
                CNPJ_FUNDO DT_COMPTC VL_TOTAL VL_QUOTA VL_PATRIM_LIQ CAPTC_DIA RESG_DIA NR_COTST
npartitions=192
                    object    object  float64  float64       float64   float64  float64    int64
                       ...       ...      ...      ...           ...       ...      ...      ...
...                    ...       ...      ...      ...           ...       ...      ...      ...
                       ...       ...      ...      ...           ...       ...      ...      ...
                       ...       ...      ...      ...           ...       ...      ...      ...
Dask Name: read-csv, 1 graph layer

In [25]:
# Faz o tratamento das colunas
df = dd.read_csv('csv/inf_diario_fi_*.csv', sep=";")

# transforma o campo DT_COMPTC
df['CNPJ_FUNDO'] = df['CNPJ_FUNDO'].str.replace('.', '')
df['CNPJ_FUNDO'] = df['CNPJ_FUNDO'].str.replace('/', '')
df['CNPJ_FUNDO'] = df['CNPJ_FUNDO'].str.replace('-', '')
df['CNPJ_FUNDO'] = df['CNPJ_FUNDO'].str.zfill(14)

# cria o campo CO_PRD
df['CO_PRD'] = df['CNPJ_FUNDO']

# cria e formata o campo DT_REF, com a data de referência
print('Formatando campo DT_REF')
df.assign(DT_COMPTC=dd.to_datetime(df['DT_COMPTC'], format='%Y-%m-%d', errors='coerce'))
df['DT_REF'] = df['DT_COMPTC']

Formatando campo DT_REF

In [26]:
# faz o sort do df
df.sort_values(by=['CO_PRD', 'DT_REF'], inplace=True)
df.tail()

[########################################] | 100% Completed | 143.38 s
[########################################] | 100% Completed | 143.48 s
[########################################] | 100% Completed | 143.58 s
[########################################] | 100% Completed | 143.68 s
[########################################] | 100% Completed | 143.78 s
[########################################] | 100% Completed | 1.27 ss
[########################################] | 100% Completed | 1.34 s
[########################################] | 100% Completed | 1.42 s
[########################################] | 100% Completed | 1.50 s
[########################################] | 100% Completed | 1.11 s

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST,CO_PRD,DT_REF
411582,FI,97929213000134,2024-01-17,86999223.09,11.602655,83540214.19,0.0,0.0,2,97929213000134,2024-01-17
411583,FI,97929213000134,2024-01-18,86999223.09,11.602655,83540214.19,0.0,0.0,2,97929213000134,2024-01-18
411584,FI,97929213000134,2024-01-19,86999223.09,11.602655,83540214.19,0.0,0.0,2,97929213000134,2024-01-19
411585,FI,97929213000134,2024-01-22,86536084.41,11.537926,82933867.36,0.0,0.0,2,97929213000134,2024-01-22
411586,FI,97929213000134,2024-01-23,86741878.92,11.566530,83280108.87,0.0,0.0,2,97929213000134,2024-01-23

In [27]:
# Convert to a Pandas DataFrame because dask was being slow with the select logic below
print('Converte dataframe dask para pandas')
df = df.compute() 

# cria uma nova coluna com o percentual de resgate para o dia
print('Calculando campo PC_RESG')
df['PC_RESG'] = df['RESG_DIA'] / df.groupby(['CO_PRD'])['VL_PATRIM_LIQ'].shift(1)

# Convert back to a Dask dataframe because we want that juicy parallelism
print('Converte dataframe pandas para dask')
df = dd.from_pandas(df, npartitions=4)

df.tail()

Converte dataframe dask para pandas
[########################################] | 100% Completed | 62.75 s
[########################################] | 100% Completed | 62.76 s
[########################################] | 100% Completed | 62.78 s
[########################################] | 100% Completed | 62.82 s
[########################################] | 100% Completed | 62.84 s
Calculando campo PC_RESG
Converte dataframe pandas para dask
[########################################] | 100% Completed | 486.99 ms
[########################################] | 100% Completed | 584.54 ms
[########################################] | 100% Completed | 584.81 ms
[########################################] | 100% Completed | 683.65 ms
[########################################] | 100% Completed | 304.10 ms

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST,CO_PRD,DT_REF,PC_RESG
578707,FI,97929213000134,2023-08-25,84412931.79,11.107729,84411205.20,0.0,0.0,2,97929213000134,2023-08-25,0.0
578708,FI,97929213000134,2023-08-28,84459070.59,11.113726,84456776.59,0.0,0.0,2,97929213000134,2023-08-28,0.0
578709,FI,97929213000134,2023-08-29,84695430.03,11.144754,84692568.40,0.0,0.0,2,97929213000134,2023-08-29,0.0
578710,FI,97929213000134,2023-08-30,84718705.72,11.147742,84715275.32,0.0,0.0,2,97929213000134,2023-08-30,0.0
578711,FI,97929213000134,2023-08-31,84559196.05,11.126677,84555196.78,0.0,0.0,2,97929213000134,2023-08-31,0.0

In [28]:
# salva num único csv
df.to_csv('2005_2020.dask', sep=";", index=False)
print('csv de saída salvo com sucesso')

end = timer()
print(end - start)

[########################################] | 100% Completed | 276.46 s
[########################################] | 100% Completed | 276.56 s
[########################################] | 100% Completed | 276.62 s
[########################################] | 100% Completed | 276.66 s
[########################################] | 100% Completed | 276.76 s
csv de saída salvo com sucesso
500.6061738490007